In [0]:
import pandas as pd

In [0]:
import platform

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# sns.set()

from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:
    print("It's unknown system. Hangul fonts are not supported!")
    
# plt.rcParams['axes.unicode_minus'] = False
plt.rcParams["figure.figsize"] = [12,6]

%matplotlib inline

In [0]:
#더하기
df1=pd.read_csv("math_data.csv")
df1.head()

                                                  질문         수식풀이
0  준기는 동화책을 어제는 58쪽，오늘은 54쪽 읽었습니다. 준기는 어제와 오늘 동화책...  58+54=[112]
1  곤충관에서는 곤충에게 먹이를 아침에 47봉지，점심에 69봉지를 주었습니다. 아침과 ...  47+69=[116]
2  나무 아래에 기린이 7마리 있습니다. 5마리가 더 온다면 모두 몇 마리인지 덧셈식을...     7+5=[12]
3  연수는 지금까지 훌라후프 8개를 뛰어넘었습니다. 연수가 6개를 더 뛰어넘으면 모두 ...     8+6=[14]
4  아름이는 사탕 15개를 가진 다운이보다 사탕이 13개 더 많습니다. 아름이가 가진 ...   15+13=[28]

In [0]:
df1.tail()

,질문,수식풀이
115,그림과 같이 48을 넣었더니 91이 나왔습니다. 29를 넣으면 얼마가 나오겠습니까?,48+[43]=91 91-48=[43] 29+43=[72]
116,그림과 같이 136을 넣었더니 278이 나왔습니다. 543을 넣으면 얼마가 나오겠...,136+[142]=278 278-136=[142] 543+142=[685]
117,그림과 같이 상자에 69를 넣었더니 77이 나왔습니다. 이 상자에 47을 넣으면 ...,69+[8]=77 77-69=[8] 47+8=[55]
118,그림과 같이 상자에 35를 넣었더니 83이 나왔습니다. 이 상자에 27을 넣으면 ...,35+[48]=83 83-35=[48] 27+48=[75]
119,그림과 같이 상자에 189를 넣었더니 385가 나왔습니다. 이 상자에 362를 넣...,189+[196]=385 385-189=[196] 362+196=[558]

In [0]:
df2=pd.read_excel("math_data.xlsx",sheet_name=1)
df3=pd.read_excel("math_data.xlsx",sheet_name=2)
df4=pd.read_excel("math_data.xlsx",sheet_name=3)
df5=pd.read_excel("math_data.xlsx",sheet_name=4)

In [0]:
from konlpy.tag import Kkma
kkma = Kkma()

In [0]:
df2['형태소'] = ''
df3['형태소'] = ''
df4['형태소'] = ''
df5['형태소'] = ''
for i in range(0, len(df2)):
    df2['형태소'][i] = kkma.pos(df2["질문"][i])
    
for i in range(0, len(df3)):
    df3['형태소'][i] = kkma.pos(df3["질문"][i])
    
for i in range(0, len(df4)):
    df4['형태소'][i] = kkma.pos(df4["질문"][i])
    
for i in range(0, len(df5)):
    df5['형태소'][i] = kkma.pos(df5["질문"][i])

In [0]:
df5.head()

,질문,수식풀이,형태소
0,민호는 구슬을 57개 가지고 있습니다. 그런데 민호가 우혁이에게 구슬을 8개 주었더...,57-8+12=[61],"[(민호, NNG), (는, JX), (구슬, NNG), (을, JKO), (57,..."
1,지선이는 사탕 23개를 동생이랑 나누어 가졌습니다. 동생이 3개를 더 가졌다면 지...,(23-3)÷2=[10],"[(지선, NNG), (이, JKS), (늘, VV), (ㄴ, ETD), (사탕, ..."
2,수현이와 진영이는 사탕 19개를 나누어 먹었습니다. 수현이가 진영이보다 5개 더 ...,(19-5)÷2=[7],"[(수, NNB), (현, NNG), (이, JKS), (오, VV), (아, EC..."
3,형진이와 진수는 색종이로 비행기를 17개 접었습니다. 형진이가 진수보다 3개 더 ...,(17-3)÷2=[7],"[(형, NNG), (진이, NNG), (와, JC), (진수, NNG), (는, ..."
4,민기와 형진이는 선물로 받은 연필 17자루를 나누어 갖기로 하였습니다. 민기가 형...,(17-3)÷2=[7],"[(민, NNG), (기와, NNG), (형, NNG), (진이, NNG), (는,..."

In [0]:
df1['형태소'] = ''


for i in range(0, len(df1)):
    df1['형태소'][i] = kkma.pos(df1["질문"][i])

In [0]:
df1.head()

,질문,수식풀이,형태소
0,준기는 동화책을 어제는 58쪽，오늘은 54쪽 읽었습니다. 준기는 어제와 오늘 동화책...,58+54=[112],"[(주, VV), (ㄴ, ETD), (길, VA), (는, ETD), (동화책, N..."
1,곤충관에서는 곤충에게 먹이를 아침에 47봉지，점심에 69봉지를 주었습니다. 아침과 ...,47+69=[116],"[(곤충, NNG), (관, NNG), (에서, JKM), (는, JX), (곤충,..."
2,나무 아래에 기린이 7마리 있습니다. 5마리가 더 온다면 모두 몇 마리인지 덧셈식을...,7+5=[12],"[(나무, NNG), (아래, NNG), (에, JKM), (기린, NNG), (이..."
3,연수는 지금까지 훌라후프 8개를 뛰어넘었습니다. 연수가 6개를 더 뛰어넘으면 모두 ...,8+6=[14],"[(연수, NNG), (는, JX), (지금, NNG), (까지, JX), (훌라후..."
4,아름이는 사탕 15개를 가진 다운이보다 사탕이 13개 더 많습니다. 아름이가 가진 ...,15+13=[28],"[(아름, NNP), (이, JKS), (늘, VV), (ㄴ, ETD), (사탕, ..."

In [0]:
a=df1["형태소"][1]
a

[('곤충', 'NNG'),
 ('관', 'NNG'),
 ('에서', 'JKM'),
 ('는', 'JX'),
 ('곤충', 'NNG'),
 ('에게', 'JKM'),
 ('먹이', 'NNG'),
 ('를', 'JKO'),
 ('아침', 'NNG'),
 ('에', 'JKM'),
 ('47', 'NR'),
 ('봉지', 'NNG'),
 ('，', 'SP'),
 ('점심', 'NNG'),
 ('에', 'JKM'),
 ('69', 'NR'),
 ('봉지', 'NNG'),
 ('를', 'JKO'),
 ('주', 'VV'),
 ('었', 'EPT'),
 ('습니다', 'EFN'),
 ('.', 'SF'),
 ('아침', 'NNG'),
 ('과', 'JKM'),
 ('점심', 'NNG'),
 ('에', 'JKM'),
 ('먹이', 'NNG'),
 ('를', 'JKO'),
 ('모두', 'MAG'),
 ('몇', 'MDT'),
 ('봉지', 'NNG'),
 ('주', 'VV'),
 ('었', 'EPT'),
 ('을까요', 'EFQ'),
 ('?', 'SF')]

In [0]:
print(a[0])
print(a[0][0])
print(a[0][1])

('주', 'VV')
주
VV

C:/Python/py/Anaconda/Lib/site-packages/konlpy/java/data/kE/dic_user.txt
    
여기서 사전에 없는 단어 품사추가 하기

In [0]:
#J=["은","는","이","가"]

for i in range(0,len(a)-1):
    if (a[i][1]=="NNG" and (a[i+1][1] =="JX" or "JKS" or "JKO")):
        print(a[i][0],a[i+1][0])

곤충 관
관 에서
곤충 에게
먹이 를
아침 에
봉지 ，
점심 에
봉지 를
아침 과
점심 에
먹이 를
봉지 주

In [0]:
for i in range(0,len(a)-1):
    if (a[i][1]=="NR" and (a[i+1][1] =="NNG" or "NNM")):
        print(a[i][0],a[i+1][0])

47 봉지
69 봉지

In [0]:
df1['단위'] =''

for i in range(0, len(df1)):
    li=[]
    for j in range(0,len(df1["형태소"][i])-1):
        if (df1["형태소"][i][j][1]=="NR" and (df1["형태소"][i][j+1][1] =="NNG" or "NNM")):
            #print(a[j][0],a[j+1][0])
            k=df1["형태소"][i][j][0]+df1["형태소"][i][j+1][0] 
            li.append(k)
        elif (df1["형태소"][i][j][1]=="NR" and (df1["형태소"][i][j+1][1] !="NNG" or "NNM")):
            li.append(df1["형태소"][i][j][0])
    df1['단위'][i] =li
df1.head()

,질문,수식풀이,형태소,단위
0,준기는 동화책을 어제는 58쪽，오늘은 54쪽 읽었습니다. 준기는 어제와 오늘 동화책...,58+54=[112],"[(주, VV), (ㄴ, ETD), (길, VA), (는, ETD), (동화책, N...","[58쪽, 54쪽]"
1,곤충관에서는 곤충에게 먹이를 아침에 47봉지，점심에 69봉지를 주었습니다. 아침과 ...,47+69=[116],"[(곤충, NNG), (관, NNG), (에서, JKM), (는, JX), (곤충,...","[47봉지, 69봉지]"
2,나무 아래에 기린이 7마리 있습니다. 5마리가 더 온다면 모두 몇 마리인지 덧셈식을...,7+5=[12],"[(나무, NNG), (아래, NNG), (에, JKM), (기린, NNG), (이...","[7마리, 5마리]"
3,연수는 지금까지 훌라후프 8개를 뛰어넘었습니다. 연수가 6개를 더 뛰어넘으면 모두 ...,8+6=[14],"[(연수, NNG), (는, JX), (지금, NNG), (까지, JX), (훌라후...","[8개, 6개]"
4,아름이는 사탕 15개를 가진 다운이보다 사탕이 13개 더 많습니다. 아름이가 가진 ...,15+13=[28],"[(아름, NNP), (이, JKS), (늘, VV), (ㄴ, ETD), (사탕, ...","[15개, 13개]"

In [0]:
df1.to_excel("kkma_plus.xlsx",index=False)

In [0]:
df2['단위'] =''

for i in range(0, len(df2)):
    li=[]
    for j in range(0,len(df2["형태소"][i])-1):
        if (df2["형태소"][i][j][1]=="NR" and (df2["형태소"][i][j+1][1] =="NNG" or "NNM")):
            k=df2["형태소"][i][j][0]+df2["형태소"][i][j+1][0] 
            li.append(k)
        elif (df2["형태소"][i][j][1]=="NR" and (df2["형태소"][i][j+1][1] !="NNG" or "NNM")):
            li.append(df2["형태소"][i][j][0])
    df2['단위'][i] =li

In [0]:
df3['단위'] =''

for i in range(0, len(df3)):
    li=[]
    for j in range(0,len(df3["형태소"][i])-1):
        if (df3["형태소"][i][j][1]=="NR" and (df3["형태소"][i][j+1][1] =="NNG" or "NNM")):
            k=df3["형태소"][i][j][0]+df3["형태소"][i][j+1][0] 
            li.append(k)
        elif (df3["형태소"][i][j][1]=="NR" and (df3["형태소"][i][j+1][1] !="NNG" or "NNM")):
            li.append(df3["형태소"][i][j][0])
    df3['단위'][i] =li

In [0]:
df4['단위'] =''

for i in range(0, len(df4)):
    li=[]
    for j in range(0,len(df4["형태소"][i])-1):
        if (df4["형태소"][i][j][1]=="NR" and (df4["형태소"][i][j+1][1] =="NNG" or "NNM")):
            k=df4["형태소"][i][j][0]+df4["형태소"][i][j+1][0] 
            li.append(k)
        elif (df4["형태소"][i][j][1]=="NR" and (df4["형태소"][i][j+1][1] !="NNG" or "NNM")):
            li.append(df4["형태소"][i][j][0])
    df4['단위'][i] =li

In [0]:
df5['단위'] =''

for i in range(0, len(df5)):
    li=[]
    for j in range(0,len(df5["형태소"][i])-1):
        if (df5["형태소"][i][j][1]=="NR" and (df5["형태소"][i][j+1][1] =="NNG" or "NNM")):
            k=df5["형태소"][i][j][0]+df5["형태소"][i][j+1][0] 
            li.append(k)
        elif (df5["형태소"][i][j][1]=="NR" and (df5["형태소"][i][j+1][1] !="NNG" or "NNM")):
            li.append(df5["형태소"][i][j][0])
    df5['단위'][i] =li

In [0]:
df2.to_excel("mkkma_inus.xlsx",index=False)
df3.to_excel("multiply.xlsx",index=False)
df4.to_excel("division.xlsx",index=False)
df5.to_excel("mix.xlsx",index=False)

In [0]:
df5.head()

,질문,수식풀이,형태소,단위
0,민호는 구슬을 57개 가지고 있습니다. 그런데 민호가 우혁이에게 구슬을 8개 주었더...,57-8+12=[61],"[(민호, Noun), (는, Josa), (구슬, Noun), (을, Josa),...","[57개, 8개, 12개]"
1,지선이는 사탕 23개를 동생이랑 나누어 가졌습니다. 동생이 3개를 더 가졌다면 지...,(23-3)÷2=[10],"[(지선, Noun), (이, Suffix), (는, Josa), (사탕, Noun...","[23개, 3개]"
2,수현이와 진영이는 사탕 19개를 나누어 먹었습니다. 수현이가 진영이보다 5개 더 ...,(19-5)÷2=[7],"[(수현, Noun), (이, Suffix), (와, Josa), (진영, Noun...","[19개, 5개]"
3,형진이와 진수는 색종이로 비행기를 17개 접었습니다. 형진이가 진수보다 3개 더 ...,(17-3)÷2=[7],"[(형, Noun), (진이와, Verb), (진수, Noun), (는, Josa)...","[17개, 3개]"
4,민기와 형진이는 선물로 받은 연필 17자루를 나누어 갖기로 하였습니다. 민기가 형...,(17-3)÷2=[7],"[(민, Noun), (기와, Noun), (형, Noun), (진이는, Verb)...","[17자루, 3자루]"