In [2]:
import pandas as pd

In [10]:
import platform

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# sns.set()

from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:
    print("It's unknown system. Hangul fonts are not supported!")
    
# plt.rcParams['axes.unicode_minus'] = False
plt.rcParams["figure.figsize"] = [12,6]

%matplotlib inline

In [61]:
#더하기
df1=pd.read_excel("math_data.xlsx",sheet_name=0)
df1.head()

                                                  질문         수식풀이
0  준기는 동화책을 어제는 58쪽，오늘은 54쪽 읽었습니다. 준기는 어제와 오늘 동화책...  58+54=[112]
1  곤충관에서는 곤충에게 먹이를 아침에 47봉지，점심에 69봉지를 주었습니다. 아침과 ...  47+69=[116]
2  나무 아래에 기린이 7마리 있습니다. 5마리가 더 온다면 모두 몇 마리인지 덧셈식을...     7+5=[12]
3  연수는 지금까지 훌라후프 8개를 뛰어넘었습니다. 연수가 6개를 더 뛰어넘으면 모두 ...     8+6=[14]
4  아름이는 사탕 15개를 가진 다운이보다 사탕이 13개 더 많습니다. 아름이가 가진 ...   15+13=[28]

In [31]:
df2=pd.read_excel("math_data.xlsx",sheet_name=1)
df3=pd.read_excel("math_data.xlsx",sheet_name=2)
df4=pd.read_excel("math_data.xlsx",sheet_name=3)
df5=pd.read_excel("math_data.xlsx",sheet_name=4)

In [88]:
df2['형태소'] = ''
df3['형태소'] = ''
df4['형태소'] = ''
df5['형태소'] = ''
for i in range(0, len(df2)):
    df2['형태소'][i] = okt.pos(df2["질문"][i])
    
for i in range(0, len(df3)):
    df3['형태소'][i] = okt.pos(df3["질문"][i])
    
for i in range(0, len(df4)):
    df4['형태소'][i] = okt.pos(df4["질문"][i])
    
for i in range(0, len(df5)):
    df5['형태소'][i] = okt.pos(df5["질문"][i])

In [62]:
from konlpy.tag import Okt

df1['형태소'] = ''

okt=Okt()

for i in range(0, len(df1)):
    #df1['형태소'][i] = okt.morphs(df1["질문"][i])
    df1['형태소'][i] = okt.pos(df1["질문"][i])

In [63]:
df1.head()

,질문,수식풀이,형태소
0,준기는 동화책을 어제는 58쪽，오늘은 54쪽 읽었습니다. 준기는 어제와 오늘 동화책...,58+54=[112],"[(준, Noun), (기는, Verb), (동화책, Noun), (을, Josa)..."
1,곤충관에서는 곤충에게 먹이를 아침에 47봉지，점심에 69봉지를 주었습니다. 아침과 ...,47+69=[116],"[(곤충관, Noun), (에서는, Josa), (곤충, Noun), (에게, Jo..."
2,나무 아래에 기린이 7마리 있습니다. 5마리가 더 온다면 모두 몇 마리인지 덧셈식을...,7+5=[12],"[(나무, Noun), (아래, Noun), (에, Josa), (기린, Noun)..."
3,연수는 지금까지 훌라후프 8개를 뛰어넘었습니다. 연수가 6개를 더 뛰어넘으면 모두 ...,8+6=[14],"[(연수, Noun), (는, Josa), (지금, Noun), (까지, Josa)..."
4,아름이는 사탕 15개를 가진 다운이보다 사탕이 13개 더 많습니다. 아름이가 가진 ...,15+13=[28],"[(아름이, Noun), (는, Josa), (사탕, Noun), (15, Numb..."

In [43]:
a=df1["형태소"][0]
a

[('준', 'Noun'),
 ('기는', 'Verb'),
 ('동화책', 'Noun'),
 ('을', 'Josa'),
 ('어제', 'Noun'),
 ('는', 'Josa'),
 ('58', 'Number'),
 ('쪽', 'Noun'),
 ('，', 'Foreign'),
 ('오늘', 'Noun'),
 ('은', 'Josa'),
 ('54', 'Number'),
 ('쪽', 'Noun'),
 ('읽었습니다', 'Verb'),
 ('.', 'Punctuation'),
 ('준', 'Noun'),
 ('기는', 'Verb'),
 ('어제', 'Noun'),
 ('와', 'Josa'),
 ('오늘', 'Noun'),
 ('동화책', 'Noun'),
 ('을', 'Josa'),
 ('모두', 'Noun'),
 ('몇', 'Noun'),
 ('쪽', 'Noun'),
 ('읽었을까요', 'Verb'),
 ('?', 'Punctuation')]

In [45]:
print(a[0])
print(a[0][0])
print(a[0][1])

('준', 'Noun')
준
Noun

C:/Python/py/Anaconda/Lib/site-packages/konlpy/java/data/kE/dic_user.txt
    
여기서 사전에 없는 단어 품사추가 하기

In [58]:
#Josa=["은","는","이","가"]

for i in range(0,len(a)-1):
    if (a[i][1]=="Noun" and a[i+1][1] =="Josa"):
        print(a[i][0],a[i+1][0])

동화책 을
어제 는
오늘 은
어제 와
동화책 을

In [64]:
for i in range(0,len(a)-1):
    if (a[i][1]=="Number" and a[i+1][1] =="Noun"):
        print(a[i][0],a[i+1][0])

58 쪽
54 쪽

In [86]:
df1['단위'] =''

for i in range(0, len(df1)):
    li=[]
    for j in range(0,len(df1["형태소"][i])-1):
        if (df1["형태소"][i][j][1]=="Number" and df1["형태소"][i][j+1][1] =="Noun"):
            #print(a[j][0],a[j+1][0])
            k=df1["형태소"][i][j][0]+df1["형태소"][i][j+1][0] 
            li.append(k)
        elif (df1["형태소"][i][j][1]=="Number" and df1["형태소"][i][j+1][1] !="Noun"):
            li.append(df1["형태소"][i][j][0])
    df1['단위'][i] =li
df1.head()

,질문,수식풀이,형태소,단위
0,준기는 동화책을 어제는 58쪽，오늘은 54쪽 읽었습니다. 준기는 어제와 오늘 동화책...,58+54=[112],"[(준, Noun), (기는, Verb), (동화책, Noun), (을, Josa)...","[58쪽, 54쪽]"
1,곤충관에서는 곤충에게 먹이를 아침에 47봉지，점심에 69봉지를 주었습니다. 아침과 ...,47+69=[116],"[(곤충관, Noun), (에서는, Josa), (곤충, Noun), (에게, Jo...","[47봉지, 69봉지]"
2,나무 아래에 기린이 7마리 있습니다. 5마리가 더 온다면 모두 몇 마리인지 덧셈식을...,7+5=[12],"[(나무, Noun), (아래, Noun), (에, Josa), (기린, Noun)...","[7마리, 5마리]"
3,연수는 지금까지 훌라후프 8개를 뛰어넘었습니다. 연수가 6개를 더 뛰어넘으면 모두 ...,8+6=[14],"[(연수, Noun), (는, Josa), (지금, Noun), (까지, Josa)...","[8개, 6개]"
4,아름이는 사탕 15개를 가진 다운이보다 사탕이 13개 더 많습니다. 아름이가 가진 ...,15+13=[28],"[(아름이, Noun), (는, Josa), (사탕, Noun), (15, Numb...","[15개, 13개]"

In [87]:
df1.to_excel("plus.xlsx",index=False)

In [89]:
df2['단위'] =''

for i in range(0, len(df2)):
    li=[]
    for j in range(0,len(df2["형태소"][i])-1):
        if (df2["형태소"][i][j][1]=="Number" and df2["형태소"][i][j+1][1] =="Noun"):
            k=df2["형태소"][i][j][0]+df2["형태소"][i][j+1][0] 
            li.append(k)
        elif (df2["형태소"][i][j][1]=="Number" and df2["형태소"][i][j+1][1] !="Noun"):
            li.append(df2["형태소"][i][j][0])
    df2['단위'][i] =li

In [90]:
df3['단위'] =''

for i in range(0, len(df3)):
    li=[]
    for j in range(0,len(df3["형태소"][i])-1):
        if (df3["형태소"][i][j][1]=="Number" and df3["형태소"][i][j+1][1] =="Noun"):
            k=df3["형태소"][i][j][0]+df3["형태소"][i][j+1][0] 
            li.append(k)
        elif (df3["형태소"][i][j][1]=="Number" and df3["형태소"][i][j+1][1] !="Noun"):
            li.append(df3["형태소"][i][j][0])
    df3['단위'][i] =li

In [91]:
df4['단위'] =''

for i in range(0, len(df4)):
    li=[]
    for j in range(0,len(df4["형태소"][i])-1):
        if (df4["형태소"][i][j][1]=="Number" and df4["형태소"][i][j+1][1] =="Noun"):
            k=df4["형태소"][i][j][0]+df4["형태소"][i][j+1][0] 
            li.append(k)
        elif (df4["형태소"][i][j][1]=="Number" and df4["형태소"][i][j+1][1] !="Noun"):
            li.append(df4["형태소"][i][j][0])
    df4['단위'][i] =li

In [92]:
df5['단위'] =''

for i in range(0, len(df5)):
    li=[]
    for j in range(0,len(df5["형태소"][i])-1):
        if (df5["형태소"][i][j][1]=="Number" and df5["형태소"][i][j+1][1] =="Noun"):
            k=df5["형태소"][i][j][0]+df5["형태소"][i][j+1][0] 
            li.append(k)
        elif (df5["형태소"][i][j][1]=="Number" and df5["형태소"][i][j+1][1] !="Noun"):
            li.append(df5["형태소"][i][j][0])
    df5['단위'][i] =li

In [93]:
df2.to_excel("minus.xlsx",index=False)
df3.to_excel("multiply.xlsx",index=False)
df4.to_excel("division.xlsx",index=False)
df5.to_excel("mix.xlsx",index=False)

In [97]:
df5.head()

,질문,수식풀이,형태소,단위
0,민호는 구슬을 57개 가지고 있습니다. 그런데 민호가 우혁이에게 구슬을 8개 주었더...,57-8+12=[61],"[(민호, Noun), (는, Josa), (구슬, Noun), (을, Josa),...","[57개, 8개, 12개]"
1,지선이는 사탕 23개를 동생이랑 나누어 가졌습니다. 동생이 3개를 더 가졌다면 지...,(23-3)÷2=[10],"[(지선, Noun), (이, Suffix), (는, Josa), (사탕, Noun...","[23개, 3개]"
2,수현이와 진영이는 사탕 19개를 나누어 먹었습니다. 수현이가 진영이보다 5개 더 ...,(19-5)÷2=[7],"[(수현, Noun), (이, Suffix), (와, Josa), (진영, Noun...","[19개, 5개]"
3,형진이와 진수는 색종이로 비행기를 17개 접었습니다. 형진이가 진수보다 3개 더 ...,(17-3)÷2=[7],"[(형, Noun), (진이와, Verb), (진수, Noun), (는, Josa)...","[17개, 3개]"
4,민기와 형진이는 선물로 받은 연필 17자루를 나누어 갖기로 하였습니다. 민기가 형...,(17-3)÷2=[7],"[(민, Noun), (기와, Noun), (형, Noun), (진이는, Verb)...","[17자루, 3자루]"