In [1]:
def hello():
    return "dddddd"

In [2]:
hello()

'dddddd'

In [3]:
def double(x):
    return x*2

In [4]:
double(100)

200

In [5]:
(lambda x: x*2)

In [6]:
(lambda x: x*2)(200)

400

In [9]:
double2 = lambda x:x**2

In [10]:
double2(200)

40000

In [11]:
double2

## 미션

In [18]:
def get_square(number):
    return number**2

def get_square_list(numbers):
    elements = []
    for number in numbers:
        elements.append(get_square(number))
    return elements

In [20]:
numbers = list(range(1,11))
get_square_list(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
def get_positive_list(numbers):
    elements = []
    for number in numbers:
        if number > 0:
            elements.append(number)
    return elements

In [22]:
numbers = [1, -2, 3, -4, 5]
get_positive_list(numbers)

[1, 3, 5]

## map

In [23]:
from functools import *

In [24]:
list(map(get_square, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [25]:
list(map(lambda x:x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [26]:
def get_square_list(numbers):
    return list(map(lambda x:x**2, numbers))

get_square_list([1,2,3,4,5])

[1, 4, 9, 16, 25]

## filter

In [27]:
numbers = [1, -2, 3,-4, 5]

list(map(lambda x:x>0, numbers))
list(filter(lambda x:x>0, numbers))

[1, 3, 5]

In [31]:
def get_positive_list(numbers):
    elements = []
    for number in numbers:
        if number > 0:
            elements.append(number)
    return elements

get_positive_list(numbers)

[1, 3, 5]

In [32]:
list(filter(lambda x: x>0, numbers))

[1, 3, 5]

In [33]:
list(filter(lambda x: x>0, numbers))

def get_positive_list(numbers):
    return list(filter(lambda x: x>0, numbers))

get_positive_list([1,-2,3,-4,5])
get_positive_list = lambda numbers: list(filter(lambda x: x>0, numbers))

In [34]:
get_positive_list([1,-2,3,-4,5])

[1, 3, 5]

## reduce

In [35]:
def get_multiply(numbers):
    result = 1
    for number in numbers:
        result *= number
    return result

get_multiply([1,2,3,4])

24

In [40]:
def get_max(numbers):
    result = numbers[0]
    for number in numbers:
        if result < number:
            result = number
    return result
 
get_max([3, -1, 5, -6])

5

In [41]:
def get_bigger(a,b):
    return a if a>b else b

reduce(get_bigger, [3,-1, 5, -6])

5

In [42]:
get_bigger(1,3)

3

In [43]:
reduce(get_bigger, [1,2,40,3,-1,5,-6])

40

In [44]:
def get_bigger(a, b):
    return a if a>b else b

reduce(get_bigger, [3, -1, 5, -6])
reduce(lambda x, y:x if x>y else y, [3,-1,5,-6])

def get_max(numbers):
    return reduce(lambda x, y:x if x>y else y, numbers)

get_max([3,-1,5,-6])

5

In [45]:
def multiply(a, b):
    print((a,b))
    return a*b

reduce(multiply, [1,2,3,4,5],0)

(0, 1)
(0, 2)
(0, 3)
(0, 4)
(0, 5)

0

In [66]:
data = ["cat",'cat','cat','sheep','sheep','duck','duck','duck','duck']

def get_count(result, param):
#     result = {}
    if result.get(param):
        result[param] += 1
    else:
        result[param] =1
     
    
#     print(result, param)
    
    return result


result = reduce(get_count, data, {})





# def get_num(a,b):
#     dict = {}
#     return dict.values  if dict.keys == a
#     dict = {}
#     for i in data:
#         dict.keys = data[i]
#         dict.values = i + 1
#     return dict

In [67]:
result

{'cat': 3, 'sheep': 2, 'duck': 4}

In [71]:
def print_histogram(result):
    rows = []
    for key, value in result.items():
        row = '{key} {value_count}'.format(key=key,spaces=""(10-len(key)), value_count="="*value)
        rows.append(row)
    
    print("\n".join(rows))

In [72]:
def get_dict(data):
    return reduce(get_count, data,{})

In [73]:
result = get_dict(data)
result

{'cat': 3, 'sheep': 2, 'duck': 4}

In [ ]:
def draw_histogram(data):
    result = get_dict(data)