In [2]:
import time
from bs4 import BeautifulSoup 
from urllib.request import urlopen

In [3]:
site = 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-Chicago/'
html = urlopen(site)
soup = BeautifulSoup(html, "lxml")

In [4]:
div_tags = soup.find_all('div', 'sammy')
len(div_tags)

50

In [5]:
div_tag = div_tags[0]
print(div_tag.prettify())

<div class="sammy" style="position: relative;">
 <div class="sammyRank">
  1
 </div>
 <div class="sammyListing">
  <a href="/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/">
   <b>
    BLT
   </b>
   <br/>
   Old Oak Tap
   <br/>
   <em>
    Read more
   </em>
  </a>
 </div>
</div>

In [7]:
data_1 = div_tag.find('div','sammyRank').get_text()
data_1

'1'

In [8]:
div_listing = div_tag.find('div', 'sammyListing').get_text()

In [9]:
div_listing

'BLT\r\nOld Oak Tap\nRead more '

In [10]:
div_listing.split('\n')

['BLT\r', 'Old Oak Tap', 'Read more ']

In [13]:
data_2 = div_listing.split('\n')[0].strip()

In [14]:
data_2

'BLT'

In [15]:
data_3 = div_listing.split('\n')[1]
data_3

'Old Oak Tap'

In [17]:
data_4 = div_tag.find('a')['href']
data_4

'/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/'

In [31]:
def getMainpageData(soup):
    ret_dict = dict()
    columns = ['랭킹', '메뉴', '카페', '링크']
    rank_list = list()
    menu_list = list()
    cafe_list = list()
    link_list = list()
    url_base = 'http://www.chicagomag.com'
    div_tags = soup.find_all('div', 'sammy')
    total = len(div_tags)
    
    for idx in range(total):
        div_tag = div_tags[idx]
        
        data_1 = div_tag.find('div','sammyRank').get_text()
        
        div_listing = div_tag.find('div', 'sammyListing').get_text()
        data_2 = div_listing.split('\n')[0].strip()
        data_3 = div_listing.split('\n')[1]
        
        data_4 = div_tag.find('a')['href']
        if not data_4.startswith(url_base):
            data_4 = url_base + data_4
        
        rank_list.append(data_1)
        menu_list.append(data_2)
        cafe_list.append(data_3)
        link_list.append(data_4)
        
    else:
        print('완료')
        
        
    ret_dict[columns[0]] = rank_list
    ret_dict[columns[1]] = menu_list
    ret_dict[columns[2]] = cafe_list
    ret_dict[columns[3]] = link_list
    
    return ret_dict

In [32]:
ret_dict = getMainpageData(soup)

완료

In [33]:
import pandas as pd

In [34]:
df = pd.DataFrame(ret_dict)

In [35]:
df[:10]

,랭킹,메뉴,카페,링크
0,1,BLT,Old Oak Tap,http://www.chicagomag.com/Chicago-Magazine/Nov...
1,2,Fried Bologna,Au Cheval,http://www.chicagomag.com/Chicago-Magazine/Nov...
2,3,Woodland Mushroom,Xoco,http://www.chicagomag.com/Chicago-Magazine/Nov...
3,4,Roast Beef,Al’s Deli,http://www.chicagomag.com/Chicago-Magazine/Nov...
4,5,PB&L,Publican Quality Meats,http://www.chicagomag.com/Chicago-Magazine/Nov...
5,6,Belgian Chicken Curry Salad,Hendrickx Belgian Bread Crafter,http://www.chicagomag.com/Chicago-Magazine/Nov...
6,7,Lobster Roll,Acadia,http://www.chicagomag.com/Chicago-Magazine/Nov...
7,8,Smoked Salmon Salad,Birchwood Kitchen,http://www.chicagomag.com/Chicago-Magazine/Nov...
8,9,Atomica Cemitas,Cemitas Puebla,http://www.chicagomag.com/Chicago-Magazine/Nov...
9,10,Grilled Laughing Bird Shrimp and Fried Po’ Boy,Nana,http://www.chicagomag.com/Chicago-Magazine/Nov...

In [36]:
df.to_csv('./data/chicagomag_info.csv', encoding='utf-8')

In [37]:
df = pd.read_csv('./data/chicagomag_info.csv', encoding='utf-8')

In [38]:
df.set_index('랭킹', inplace=True)

In [39]:
df.head()

,Unnamed: 0,메뉴,카페,링크
랭킹,,,,
1,0,BLT,Old Oak Tap,http://www.chicagomag.com/Chicago-Magazine/Nov...
2,1,Fried Bologna,Au Cheval,http://www.chicagomag.com/Chicago-Magazine/Nov...
3,2,Woodland Mushroom,Xoco,http://www.chicagomag.com/Chicago-Magazine/Nov...
4,3,Roast Beef,Al’s Deli,http://www.chicagomag.com/Chicago-Magazine/Nov...
5,4,PB&L,Publican Quality Meats,http://www.chicagomag.com/Chicago-Magazine/Nov...

In [40]:
del df['Unnamed: 0']

In [41]:
df.head()

,메뉴,카페,링크
랭킹,,,
1,BLT,Old Oak Tap,http://www.chicagomag.com/Chicago-Magazine/Nov...
2,Fried Bologna,Au Cheval,http://www.chicagomag.com/Chicago-Magazine/Nov...
3,Woodland Mushroom,Xoco,http://www.chicagomag.com/Chicago-Magazine/Nov...
4,Roast Beef,Al’s Deli,http://www.chicagomag.com/Chicago-Magazine/Nov...
5,PB&L,Publican Quality Meats,http://www.chicagomag.com/Chicago-Magazine/Nov...

In [48]:
import pandas as pd
import time
import re

from bs4 import BeautifulSoup 
from urllib.request import urlopen

In [49]:
site = df['링크'][1]
html = urlopen(site)
soup = BeautifulSoup(html, 'lxml')

In [50]:
taginfo = soup.find('p', 'addy').get_text().strip()

In [51]:
taginfo

'$10. 2109 W. Chicago Ave., 773-772-0406, theoldoaktap.com'

In [52]:
menu_price = re.search('\$\d+\.(\d+)?', taginfo).group()
menu_price

'$10.'

In [54]:
cafe_tel = re.search('\d{3}[-]\d{3}[-]\d{4}', taginfo)

if cafe_tel is not None:
    cafe_tel = cafe_tel.group()
else:
    cafe_tel = 'NO Contact'
    
cafe_tel

'773-772-0406'

In [55]:
info_list = taginfo.split(', ')
info_list

['$10. 2109 W. Chicago Ave.', '773-772-0406', 'theoldoaktap.com']

In [56]:
if info_list[-1].endswith('.com') or info_list[-1].endwith('.net'):
    home_page = info_list[-1]
else:
    home_page = 'NO Homepage'
    
home_page

'theoldoaktap.com'

In [57]:
idx = len(menu_price)
cafe_addr = info_list[0][idx:].strip()
cafe_addr

'2109 W. Chicago Ave.'

In [58]:
for ranking in df.index[:5]:
    sub_link = df['링크'][ranking]
    print('Top{} : {}'.format(ranking, sub_link))

Top1 : http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/
Top2 : http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Au-Cheval-Fried-Bologna/
Top3 : http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Xoco-Woodland-Mushroom/
Top4 : http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Als-Deli-Roast-Beef/
Top5 : http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Publican-Quality-Meats-PB-L/

In [ ]:
price_list = list()
cfadd_list = list()
cftel_list = list()
homep_list = list()

def ranking in df.index[:5]: