In [1]:
import json
from pprint import pprint

In [2]:
json_data = {
    'firstname' : '길동',
    'lastname'  : '홍',
    'age'       : 20, 
    'country'   : '율도국'
}

In [3]:
json_code = json.JSONEncoder().encode(json_data)
print(json_code)

{"firstname": "\uae38\ub3d9", "lastname": "\ud64d", "age": 20, "country": "\uc728\ub3c4\uad6d"}

In [4]:
check = json.dumps('한글')
print(check)

"\ud55c\uae00"

In [5]:
check = json.dumps('한글', ensure_ascii=False)
print(check)

"한글"

In [6]:
check = json.dumps(json_data, ensure_ascii=False)
print(check)

{"firstname": "길동", "lastname": "홍", "age": 20, "country": "율도국"}

In [7]:
json_code = json.JSONDecoder().decode(check)
json_code

{'firstname': '길동', 'lastname': '홍', 'age': 20, 'country': '율도국'}

In [8]:
json_code['country']

'율도국'

In [9]:
"{}{}은 {}살이고, {}에 살고 있습니다. ".format(
    json_code['lastname'],
    json_code['firstname'],
    json_code['age'],
    json_code['country'],
)

'홍길동은 20살이고, 율도국에 살고 있습니다. '

In [12]:
class Person:
    name = str()
    age = int()
    hometown = str()
    
    def __init__(self, name, age, hometown):
        self.name = name
        self.age = age
        self.hometown = hometown
        
    def to_string(self):
        str = '%s의 나이는 %d살이고, 고향은 %s입니다.' %(self.name, self.age, self.hometown)
        return str

In [13]:
theif1 = Person("홍길동", 20, "율도국");
theif2 = Person("임꺽정", 30, "구월산");

In [14]:
theif1.to_string()

'홍길동의 나이는 20살이고, 고향은 율도국입니다.'

In [15]:
theif2.to_string()

'임꺽정의 나이는 30살이고, 고향은 구월산입니다.'

In [16]:
with open('data/girlgroup.json', 'w') as fp:
    data = '["1", "2", "3", "4", "5"]'
    fp.write(data)

In [17]:
with open('data/girlgroup.json') as data_file:
    girlgroup = json.load(data_file)

In [18]:
girlgroup

['1', '2', '3', '4', '5']

In [19]:
'내가 좋아하는 걸그룹은 {}와 {}입니다.'.format(girlgroup[2], girlgroup[4])

'내가 좋아하는 걸그룹은 3와 5입니다.'

In [23]:
data = '''
    {
        "name" : "홍길동",
        "age"  : 20,
        "addr" : {
            "city"  : "서울시",
            "dong"  : "염창동"
        }
    }
'''

In [24]:
with open('data/member.json', 'w') as fp:
    fp.write(data)

In [25]:
with open('data/member.json') as data_file:    
    member = json.load(data_file)

print(member)

{'name': '홍길동', 'age': 20, 'addr': {'city': '서울시', 'dong': '염창동'}}

In [26]:
"{}은 {}살 이고, {} {}에 살고 있습니다.".format(
    member["name"],
    member["age"],
    member["addr"]["city"], 
    member["addr"]["dong"], 
)

'홍길동은 20살 이고, 서울시 염창동에 살고 있습니다.'

### 미션

In [27]:
data = '''
{
    "name" : "홍길동",
    "dog"  : {
        "name" : "순둥이",
        "toys" : [
                { "name" : "뽀로로" },
                { "name" : "토마스" }
        ]
    }
}
'''

In [28]:
with open('data/person.json', 'w') as fp:
    fp.write(data)

In [29]:
with open('data/person.json') as data_file:    
    person = json.load(data_file)
    
print(person)

{'name': '홍길동', 'dog': {'name': '순둥이', 'toys': [{'name': '뽀로로'}, {'name': '토마스'}]}}

In [33]:
"{}의 개 {}의 장난감은 {}, {}입니다.".format(
    person["name"],
    person["dog"]["name"],
    person["dog"]["toys"][0]["name"],
    person["dog"]["toys"][1]["name"])

'홍길동의 개 순둥이의 장난감은 뽀로로, 토마스입니다.'