In [8]:
import sqlite3
import pandas as pd

def select_all_books(db_name):
    ret_df = pd.DataFrame()
    is_success = True
    
    try:
        conn = sqlite3.connect(db_name)
        cur = conn.cursor()
        db_sql = 'SELECT * FROM my_books'
        cur.execute(db_sql)
        print('[1] 전체 데이터 출력하기')
        books = cur.fetchall()
        ret_df = getBooksDF(books)
        
    except:
        is_success = False
        print("Database Error!")
        
    finally:
        conn.close()
    
    return is_success, ret_df

In [9]:
import sqlite3  

db_name = './database/my_books.db'

In [10]:
import sqlite3 

# 데이터 삭제용 함수
def delete_books_by_title(db_name, title):
    """
    책제목에 해당하는 데이터를 삭제하는 함수
    Args:
        db_name : Database Name
        title   : Title of the book to be removed
    Returns : 
        is_success : Boolean 
    """
    is_success = True
    
    try:    
        # 데이터베이스 커넥션 생성
        conn = sqlite3.connect(db_name) 

        # 커서 확보
        cur = conn.cursor()  

        # 데이터 삭제 SQL
        db_sql = "DELETE FROM my_books "
        db_sql+= "WHERE title = ?      "

        # 수정 SQL 실행
        # print('db_sql:', db_sql)
        # print('title:', title)
        cur.execute(db_sql, (title,))
        # count = cur.execute(db_sql, (title,))
        # print('count:', type(count), count)
        
    except:
        is_success = False
        print("Database Error!")
        
    finally :      
        if is_success:
            # 데이터베이스 반영
            conn.commit()  
        else:
            # 데이터베이스 철회
            conn.rollback()
            
        # 데이터베이스 커넥션 닫기
        conn.close()
    
    return is_success

In [11]:
title = '메가트랜드'
if delete_books_by_title(db_name, title):
    print('데이터가 성공적으로 삭제되었습니다.')
else :
    print('데이터가 삭제되지 않았습니다')

is_success, books_df = select_all_books(db_name) 
books_df

데이터가 성공적으로 삭제되었습니다.
[1] 전체 데이터 출력하기
Database Error!

Empty DataFrame
Columns: []
Index: []