In [1]:
import sqlite3
db_name = './database/my_books.db'

In [2]:
def create_table(db_name, db_sql):
    is_success = True
    try:
        conn = sqlite3.connect(db_name)
        cur = conn.cursor()
        cur.execute(db_sql)
    except:
        is_success = False
        print('Database Error!')
    finally:
        if is_success:
            conn.commit()
            conn.rollback()
        conn.close()
    return is_success

In [3]:
import os
from os.path import exists

In [4]:
dir_name = 'database'
if not exists(dir_name):
    os.mkdir(dir_name)
    print('[%s] 디렉터리를 생성했습니다.'%dir_name)
else:
    print('[%s]은/는 이미 존재합니다.'%dir_name)

[database]은/는 이미 존재합니다.

In [5]:
db_sql = '''
CREATE TABLE my_books (
    title text,
    published_date text,
    publisher text,
    pages integer,
    recommendation integer
)
'''
if create_table(db_name, db_sql):
    print('테이블이 성공적으로 생성되었습니다. ')
else:
    print('테이블이 생성되지 않았습니다.')

테이블이 성공적으로 생성되었습니다.

In [8]:
%ls database

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: BE1A-1DEC

 C:\Users\202-018\Anaconda_src\database 디렉터리

2019-09-02  오전 09:42    <DIR>          .
2019-09-02  오전 09:42    <DIR>          ..
2019-09-02  오전 09:42             8,192 my_books.db
               1개 파일               8,192 바이트
               2개 디렉터리  79,482,912,768 바이트 남음

In [10]:
def insert_books(db_name):
    is_success = True
    
    try:
        conn = sqlite3.connect(db_name)
        cur = conn.cursor()
        db_sql = "INSERT INTO my_books VALUES ('메가트랜드', '2002.03.02','A', 200, 0)"
        cur.execute(db_sql)
        db_sql =  "INSERT INTO my_books VALUES (?, ?, ?, ?, ?)"
        cur.execute(db_sql,('인더스트리 4.0', '2016.07.09','B', 584, 1))
        books = [
            ('유니콘 스타트업', '2011.07.15','A', 248, 1),
            ('빅데이터 마케팅', '2012.08.25','A', 296, 1),
            ('사물인터넷 전망', '2013.08.22','B', 526, 0)
        ]
        cur.executemany(db_sql, books)
    
    except:
        is_success = False
        print("Database Error!")
    
    finally:
        if is_success:
            conn.commit()
        else:
            conn.rallback()
        conn.close()
    
    return is_success

In [11]:
if insert_books(db_name):
    print('데이터가 성공적으로 등록되었습니다.')
else:
    print('데이터가 등록되지 않았습니다. ')

데이터가 성공적으로 등록되었습니다.

In [26]:
import sqlite3  

db_name = './database/my_books.db'

In [30]:
import pandas as pd

def getBooksDF(books):
    ret_df = pd.DataFrame()
    
    title = list()
    published_date = list()
    publisher = list()
    pages = list()
    recommendation = list()
    
    column_name = ['title', 'published_date', 'publisher', 'pages', 'recommendation']
    for book in books:
        title.append(book[0])
        published_date.append(book[1])
        publisher.append(book[2])
        pages.append(book[3])
        recommendation.append(book[4])
        
    data = {
        'title'          : title         ,
        'published_date' : published_date,
        'publisher'      : publisher     ,
        'pages'          : pages         ,
        'recommendation' : recommendation
    }
    
    ret_df = pd.DataFrame(data, columns=column_name)
    
    return ret_df

In [31]:
import sqlite3
import pandas as pd

def select_all_books(db_name):
    ret_df = pd.DataFrame()
    is_success = True
    
    try:
        conn = sqlite3.connect(db_name)
        cur = conn.cursor()
        db_sql = 'SELECT * FROM my_books'
        cur.execute(db_sql)
        print('[1] 전체 데이터 출력하기')
        books = cur.fetchall()
        ret_df = getBooksDF(books)
        
    except:
        is_success = False
        print("Database Error!")
        
    finally:
        conn.close()
    
    return is_success, ret_df

In [32]:
is_success, books_df = select_all_books(db_name)
if is_success:
    print('조회된 데이터는 총 %d 건 입니다.'%len(books_df))
else:
    print('데이터를 조회하지 못했습니다.')
    
books_df

[1] 전체 데이터 출력하기
조회된 데이터는 총 5 건 입니다.

       title published_date publisher  pages  recommendation
0      메가트랜드     2002.03.02         A    200               0
1  인더스트리 4.0     2016.07.09         B    584               1
2   유니콘 스타트업     2011.07.15         A    248               1
3   빅데이터 마케팅     2012.08.25         A    296               1
4   사물인터넷 전망     2013.08.22         B    526               0

In [33]:
def select_some_books(db_name, number):
    
    ret_df = pd.DataFrame()
    is_success = True
    
    try:
        conn = sqlite3.connect(db_name) 
        cur = conn.cursor()  
        db_sql = "SELECT * FROM my_books"
        cur.execute(db_sql) 

        print('[2] 데이터 일부 출력하기')
        books = cur.fetchmany(number)                   

        ret_df = getBooksDF(books)
     
    except:
        is_success = False
        print("Database Error!")
        
    finally : 
        conn.close()
        
    return is_success, ret_df

In [34]:
is_success, books_df = select_some_books(db_name, number=3)
if is_success:
    print('조회된 데이터는 총 %d 건 입니다.'%len(books_df))
else :
    print('데이터를 조회하지 못했습니다')

books_df

[2] 데이터 일부 출력하기
조회된 데이터는 총 3 건 입니다.

       title published_date publisher  pages  recommendation
0      메가트랜드     2002.03.02         A    200               0
1  인더스트리 4.0     2016.07.09         B    584               1
2   유니콘 스타트업     2011.07.15         A    248               1

In [35]:
def select_one_book(db_name):

    ret_df = pd.DataFrame()
    is_success = True
    
    try:
        conn = sqlite3.connect(db_name) 

        cur = conn.cursor()  

        db_sql = "SELECT * FROM my_books "
        cur.execute(db_sql) 

        print('[3] 1개 데이터 출력하기')
                        
        book = cur.fetchone()
        books = [book]
        ret_df = getBooksDF(books)
     
    except:
        is_success = False
        print("Database Error!")
        
    finally : 
        conn.close()
        
    return is_success, ret_df

In [36]:
is_success, books_df = select_one_book(db_name) 
if is_success:
    print('하나의 데이터를 성공적으로 조회하였습니다.')
else :
    print('데이터를 조회하지 못했습니다')

books_df

[3] 1개 데이터 출력하기
하나의 데이터를 성공적으로 조회하였습니다.

   title published_date publisher  pages  recommendation
0  메가트랜드     2002.03.02         A    200               0

In [37]:
def find_big_books(db_name):
   
    ret_df = pd.DataFrame()
    is_success = True
    
    try:
        conn = sqlite3.connect(db_name) 
        cur = conn.cursor()  
        db_sql = "SELECT * FROM my_books "
        db_sql+= "WHERE pages > 300"
        cur.execute(db_sql) 

        print('[4] 페이지 많은 책 출력하기')
        books = cur.fetchall()
        
        ret_df = getBooksDF(books)

    except:
        is_success = False
        print("Database Error!")
        
    finally : 

        conn.close()
        
    return is_success, ret_df

In [38]:
is_success, books_df = find_big_books(db_name)
if is_success:
    print('조건에 맞는 데이터는 총 %d 건 입니다.(조건:pages>300)'%len(books_df))
else :
    print('데이터를 조회하지 못했습니다')

books_df

[4] 페이지 많은 책 출력하기
조건에 맞는 데이터는 총 2 건 입니다.(조건:pages>300)

       title published_date publisher  pages  recommendation
0  인더스트리 4.0     2016.07.09         B    584               1
1   사물인터넷 전망     2013.08.22         B    526               0

In [46]:
def find_books(db_name, title):
   
    ret_df = pd.DataFrame()
    is_success = True
    
    try:
        conn = sqlite3.connect(db_name) 
        cur = conn.cursor()  
        db_sql = "SELECT * FROM my_books "
        db_sql+= "WHERE title like '{}%'"
        
        print(db_sql.format(title))
        cur.execute(db_sql.format(title)) 
        
        print('[4]책 제목 출력하기')
        books = cur.fetchall()
        ret_df = getBooksDF(books)

    except:
        is_success = False
        print("Database Error!")
        
    finally : 

        conn.close()
        
    return is_success, ret_df

In [47]:
title = '빅데이터'
is_success, books_df = find_books(db_name, title)
if is_success:
    print('조회된 데이터는 총 %d 건 입니다.'%len(books_df))
else :
    print('데이터를 조회하지 못했습니다')

books_df

SELECT * FROM my_books WHERE title like '빅데이터%'
[4]책 제목 출력하기
조회된 데이터는 총 1 건 입니다.

      title published_date publisher  pages  recommendation
0  빅데이터 마케팅     2012.08.25         A    296               1

In [53]:
import sqlite3

def update_books(db_name):
    is_success = True
    
    try:
        conn = sqlite3.connect(db_name)
        cur = conn.cursor()
        db_sql = 'UPDATE my_books SET recommendation=? WHERE title=? '
        cur.execute(db_sql, (1, '메가트랜드'))
    except:
        is_success = False
        print('Database Error!')
    finally:
        if is_success:
            conn.commit()
        else:
            conn.rollback()
        conn.close
    return is_success

In [54]:
is_success, books_df1 = select_one_book(db_name)

if update_books(db_name):
    print('데이터가 성공적으로 수정되었습니다.')
else:
    print('데이터가 수정되지 않았습니다.')

is_success, books_df2 = select_one_book(db_name)

books_df = pd.concat([books_df1, books_df2], axis=0)
books_df['update'] = ['수정전','수정후']
books_df.set_index('update', inplace=True)
books_df

[3] 1개 데이터 출력하기
데이터가 성공적으로 수정되었습니다.
[3] 1개 데이터 출력하기

        title published_date publisher  pages  recommendation
update
수정전     메가트랜드     2002.03.02         A    200               0
수정후     메가트랜드     2002.03.02         A    200               1

In [63]:

import sqlite3 
def delete_books_by_title(db_name, title):
    is_success = True
    
    try:
        conn = sqlite3.connect(db_name)
        cur = conn.cursor()
        db_sql = 'DELETE FROM my_books '
        db_sql+= 'WHERE title = ?'
        cur.execute(db_sql, (title,))
    except:
        is_success = False
        print("Database Error!")
    finally:
        if is_success:
            conn.commit()
        else:
            conn.rollback()
        conn.close()
    return is_success

In [64]:
title = '메가트랜드'
if delete_books_by_title(db_name, title):
    print('데이터가 성공적으로 삭제되었습니다.')
else:
    print('데이터가 삭제되지 않았습니다.')

is_success, books_df = select_all_books(db_name)
books_df

데이터가 성공적으로 삭제되었습니다.
[1] 전체 데이터 출력하기

       title published_date publisher  pages  recommendation
0  인더스트리 4.0     2016.07.09         B    584               1
1   유니콘 스타트업     2011.07.15         A    248               1
2   빅데이터 마케팅     2012.08.25         A    296               1
3   사물인터넷 전망     2013.08.22         B    526               0

In [65]:
def delete_books(db_name, col_name, col_val):
    is_success = True
    
    try: 
        conn = sqlite3.connect(db_name) 
        cur = conn.cursor()  
        db_sql = 'DELETE FROM my_books '
        db_sql+= 'WHERE {} = ? '
        db_sql = db_sql.format(col_name)
        cur.execute(db_sql, (col_val,))

    except:
        is_success = False
        print("Database Error!")
        
    finally :      
        if is_success:
            conn.commit()  
        else:
            conn.rollback()
            
        conn.close()
    
    return is_success

In [66]:
is_success, books_df = select_all_books(db_name) 
books_df

[1] 전체 데이터 출력하기

       title published_date publisher  pages  recommendation
0  인더스트리 4.0     2016.07.09         B    584               1
1   유니콘 스타트업     2011.07.15         A    248               1
2   빅데이터 마케팅     2012.08.25         A    296               1
3   사물인터넷 전망     2013.08.22         B    526               0

In [67]:
col_name = 'publisher'
col_val  = 'A'
if delete_books(db_name, col_name, col_val):
    print('데이터가 성공적으로 삭제되었습니다.')
else :
    print('데이터가 삭제되지 않았습니다')

is_success, books_df = select_all_books(db_name) 
books_df

데이터가 성공적으로 삭제되었습니다.
[1] 전체 데이터 출력하기

       title published_date publisher  pages  recommendation
0  인더스트리 4.0     2016.07.09         B    584               1
1   사물인터넷 전망     2013.08.22         B    526               0

In [68]:
col_name = 'title'
col_val  = '사물인터넷 전망'
if delete_books(db_name, col_name, col_val):
    print('데이터가 성공적으로 삭제되었습니다.')
else :
    print('데이터가 삭제되지 않았습니다')

is_success, books_df = select_all_books(db_name) 
books_df

데이터가 성공적으로 삭제되었습니다.
[1] 전체 데이터 출력하기

       title published_date publisher  pages  recommendation
0  인더스트리 4.0     2016.07.09         B    584               1