In [1]:
import os
from os.path import exists

In [2]:
dir_name = 'webdocu'

if not exists(dir_name):
    os.mkdir(dir_name)
    print('[%s] 디렉터리를 생성했습니다.' %dir_name)
else:
    print('[%s]은(는) 이미 존재합니다.' %dir_name)

[webdocu] 디렉터리를 생성했습니다.

In [3]:
%%writefile ./webdocu/html_ex01.html 
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>서울산업진흥원 교육과정</title>
  </head>
  <body>
     <h1>빅데이터 사이언스 실무자 양성과정</h1>
     <p id="subject">파이썬기반 빅데이터분석</p>
     <p id="teacher">김진수</p>
     <p id="school">한국IT직업전문학교</p>
     <p id="semester">2019</p>
  </body>
</html>

Writing ./webdocu/html_ex01.html

<a href='./webdocu/html_ex01.html'>HTML 코드 1</a>

In [4]:
%%writefile ./webdocu/html_ex02.html 
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>서울산업진흥원 교육과정</title>
  </head>
  <body>
     <table>
        <tr>
          <td colspan=2><h2>빅데이터 사이언스 실무자 양성과정</h2></td>
        </tr>
        <tr>
          <td>과목</td>
          <td>파이썬기반 빅데이터분석</td>
        </tr>
        <tr>
          <td>강사</td>
          <td>김진수</td>
        </tr>
        <tr>
          <td>교육장소</td>
          <td>한국IT직업전문학교</td>
        </tr>
        <tr>
          <td>학기</td>
          <td>2019년도</td>
        </tr>
     <table>
  </body>
</html>

Writing ./webdocu/html_ex02.html

<a href='./webdocu/html_ex02.html'>HTML 코드 2</a>

In [5]:
%%writefile ./webdocu/html_ex03.html 
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>서울산업진흥원 교육과정</title>
  </head>
  <body>
     <table width='800' height='50' border=1 padding=1 bgcolor='#FFFF00'>
        <tr>
          <td colspan=2><font size=5 color='red'>빅데이터 사이언스 실무자 양성과정</font></td>
        </tr>
        <tr>
          <td width='25%'>과목</td>
          <td width='75%'>파이썬기반 빅데이터분석</td>
        </tr>
        <tr>
          <td>강사</td>
          <td><b>김진수</b></td>
        </tr>
        <tr>
          <td>교육장소</td>
          <td><u>한국IT직업전문학교</u></td>
        </tr>
        <tr>
          <td>학기</td>
          <td><i>2019년도</i></td>
        </tr>
     <table>
  </body>
</html>

Writing ./webdocu/html_ex03.html

<a href='./webdocu/html_ex03.html'>HTML 코드 3</a>

In [6]:
%%writefile ./webdocu/html_ex04.html 
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>서울산업진흥원 교육과정</title>
    <style>
      table {
        width: 100%;
        border: 1px solid #333333;
      }
      td {
        padding: 10px;
        border: 1px solid #333333;
      }
      .style_1 {
        border-collapse: separate;
      }
      .style_2 {
        border-collapse: collapse;
      }
      td.type1{
           text-align:center; 
           border:2px solid red; 
           text-color:gray;
           width:100;
        }
      td.type2{
           text-align:right; 
           border:3px dotted blue; 
           text-color:gray;
           width:100;
        }
      td.type3{
           text-align:left; 
           border:3px ridge green; 
           text-color:#FF0000;
           width:100;
        }
    </style>
  </head>
  <body>
     <table class='style_1'>
        <tr>
          <td colspan=2><h2>빅데이터 사이언스 실무자 양성과정1</h2></td>
        </tr>
        <tr>
          <td class='type1'>과목</td>
          <td class='type2'>파이썬기반 빅데이터분석</td>
        </tr>
        <tr>
          <td style="border:5px outset pink;">강사</td>
          <td style="border:5px outset lightblue;">김진수</td>
        </tr>
     <table>
     <br/><br/>
     <table class='style_2'>
        <tr>
          <td colspan=2 class='type1'><h2>빅데이터 사이언스 실무자 양성과정2</h2></td>
        </tr>
        <tr>
          <td>교육장소</td>
          <td>한국IT직업전문학교</td>
        </tr>
        <tr>
          <td class='type3'>학기</td>
          <td class='type3'>2019년도</td>
        </tr>
     <table>
  </body>
</html>

Writing ./webdocu/html_ex04.html

<a href='./webdocu/html_ex04.html'>HTML 코드 4</a>